<?xml version="1.0" ?>
<config xmlns="urn:jboss:galleon:config:1.0" name="standalone.xml" model="standalone">
    <layers>
        <include name="cloud-profile"/>
        <!-- added because we are used to -->
        <include name="h2-database"/>
    </layers>
    <!-- even redefining h2-database layer in s2i FP we still got the ExampleDS -->
    <exclude feature-id="subsystem.datasources.data-source:data-source=ExampleDS"/>

</config>
